<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Tris
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="seeCounter()">
        <ion-icon name="trophy"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="score" class="bigContainer">
    <div *ngSwitchCase="undefined" class="trisContainer">
      <div
        *ngFor="let cell of cellArray; index as i"
        (click)="play(i)"
        class="trisCell"
      >
        {{ cell }}
      </div>
    </div>

    <div *ngSwitchCase="'tie'" class="trisContainer">
      <div class="victory-announcement">
        It's a tie!
      </div>
    </div>

    <div *ngSwitchDefault class="trisContainer">
      <div class="victory-announcement">
        🎉🎉🎉
        <br />
        <br />
        Congrats
        <br />
        {{ score }}
        <br />
        You Win!
        <br />
        <br />
        🎉🎉🎉
      </div>
    </div>

    <ion-button *ngIf="!score" (click)="empty()">Reset Game</ion-button>
    <ion-button *ngIf="score" (click)="empty()">Play Again</ion-button>
  </div>
</ion-content>
